* {
	box-sizing: border-box;
	margin: 0;
	font-family: 'Ubuntu Mono', monospace;
	/*background-color: #181B1B;
	color: #CECACA;*/
}

h1 {
	text-align: center;
	font-size: 20vw;
}

form {
	text-align: center;
}

label {
	font-size: 28px;
}

input {
	font-size: 28px;
	border: none;
	border-width: 0px;
	width: 28px;
}

/*input:focus {
	outline: 0;
}*/